{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Avatar's Confirmation Page
        </title>
        
        <!-- Bootstrap core CSS -->
        <link href="{% static 'app6/bootstrap.min.css' %}" rel="stylesheet">

        <!-- My StyleSheet inspired by Cover by @mdo -->
        <link href="{% static 'app6/myCSS.css' %}" rel="stylesheet">
    </head>
    <body>
        
        <div class="container mt-auto mb-auto">
            <div class="row align-content-center">
                <div class="col">
                    <h1 style="text-align: center;">Are you sure you want to input the following data?</h1>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Author</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                            <th scope="row">{{ userInput.author }}</th>
                            <td>{{ userInput.msg }}</td>
                            </tr>
                    </tbody>
                </table>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Yes">
                        <input type="submit" name="cancel" value="No">
                    </form>
            </div>
        </div>

        <script src="{% static 'app6/myJquery.js' %}"></script>
        <script src="{% static 'app6/myPopperJS.js' %}"></script>
        <script src="{% static 'app6/bootstrap.min.js' %}"></script>
    </body>

</html>